  :root{

    --container-color: hsla(324, 7%, 86%, 0.98);
  }

@media screen and (max-width: 1100px) {
    .intro--profile{
        width: 480px; 
        height: 240px; 
         object-fit: cover;
    }
  }
  
@media  screen and (max-width: 930px) {
    .intro--profile{
     
      height: auto;

    }
  }
  
  
@media screen and (max-width: 850px) {
    .intro--profile{
      width: 550px;
      height: auto;
    }
  }
  


@media  screen and (max-width: 768px) {
    #contact-form {
      width: 100%;
    }
    .head1 .text{
      font-size: 19px;
    }
    .head2{
      font-size: 20px;
    }
    .p{
      font-size: 15px;
    }
  }
@media screen and (max-width: 700px) {
  .getintouch--container{
    flex-direction: column;
  }
  .leftcontainer{
 width: 100%;
  }
  .rightcontainer{
    width: auto;
    padding: 0 30px;
  }
  .footer-container{
    display: inline-block;
  }
  .main{
    padding: 20px;
  }
  }


@media screen and (max-width: 680px)  {
    .header{
      padding: 7px 3px;
    }
    .intro--profile{
      width: 650px;
      height: auto;
    }
    .intro--bio{
      line-height: 17px;
      align-items: start;
    }
  }
  @media screen and (max-width: 650px)  {
    .intro--container{
      display: flex;
      flex-direction: column;
    }
    .intro--profile{
      width: 350px;
    }
    .about--container {
      display: flex;
      flex-direction: column;
    }

  }


@media screen and (max-width: 600px) {
  .topnav a:nth-child(n) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  
}

@media screen and (max-width: 600px) {
  .topnav {
    width: 64%;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
    background-color: var(--container-color);
   color: #9e1919;
   font-weight: bolder;
   line-height: 3rem;

  }
}

  @media screen and (max-width: 550px)  {
    .card-container{
      flex-direction: column;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .project--card{
      padding: 20px;
      max-width: 60%;
    }
 
  }

  @media screen and (max-width: 450px)  {
    .head1 .text{
      font-size: 13px;
    }
    .head2{
      font-size: 15px;
    }
    .p{
      font-size: 12px;
    }
    .intro--bio{
      line-height: 14px;
    }
    .header {
      font-size: .8rem;
      margin-bottom: 5px;
    }
    .btn{
      width: 80px;
    }
    .main{
      padding: 10px;
    }
  }
  @media screen and (max-width: 380px)  {
    .head1 .text{
      font-size: 10px;
    }
  }